body {
    font-family: "Bitter", serif;
}

h3 {
    margin-top: 1.5em;
}

.section {
    margin-bottom: .5em;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.hide {
    display: none;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }

#competitors {
    margin-left: 2em;
}

#wait_msg {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .row {
        display: block;
    }

    .hide {
        display: none;
    }
    
    .column {
        flex: none;
    }

    #competitors {
        margin-left: 0em;
    }
}
