body {
    font-family: "Bitter", serif;
}

h3 {
    margin-top: 1.5em;
}

.section {
    margin-bottom: .5em;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.hide {
    display: none;
}

#competitors {
    margin-left: 2em;
}

#wait_msg {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .row {
        display: block;
    }
    
    .column {
        flex: none;
    }

    #competitors {
        margin-left: 0em;
    }
}
