body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    margin-top: 1.5em;
}

.section {
    margin-bottom: .5em;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#competitors {
    margin-left: 2em;
}

@media only screen and (max-width: 320px) {
    .row {
        display: block;
    }
    
    .column {
        flex: none;
    }

    #competitors {
        margin-left: 0em;
    }
}
